# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
ENV/

# Build artifacts
dist/
build/
*.egg-info/

# Virtual environment
.venv/

# Environment variables
.env
.venv

# Temporary files
*.tmp
*.log".obsidian/" 

# Obsidian
.obsidian/