name: Publish
on: workflow_dispatch
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.9"
      - run: pip install build twine
      - run: python -m build
      - env:
          TWINE_PASSWORD: ${{ secrets.PYPI }}
        run: twine upload dist/*
